<form action="/crear" method="POST" class="card bg-dark text-light">
    <div class="card-body p-4">
        <div class="mb-3">
            <label for="nombre">Nombre:</label>
            <input type="text" name="nombre" placeholder="Escriba su nombre" class="form-control rounded-3 bg-grey border-0"/>
        </div>
        <div class="class mb-3">
            <label for="apellido">Apellido:</label>
            <input type="text" name="apellido" placeholder="Escriba su apellido" class="form-control rounded-3 bg-grey border-0"/>
        </div>
        <div class="class mb-3">
            <label for="dni">DNI:</label>
            <input type="text" name="dni" placeholder="Ingrese su dni" class="form-control rounded-3 bg-grey border-0"/>
        </div>
        <div class="class mb-3">
            <label for="correo">Correo:</label>
            <input type="text" name="correo" placeholder="Escriba su correo electrónico" class="form-control rounded-3 bg-grey border-0"/>
        </div>
        <div class="class mb-3">
            <label for="foto">Foto:</label>
            <input type="text" name="foto" placeholder="Suba su foto" class="form-control rounded-3 bg-grey border-0"/>
        </div>
        
        
        <button class="btn btn-primary">Guardar</button>
    </div>
</form>